#yazilar{
    color:white;
    font-size: 25px;
}
#slaytbaslik{
    color: forestgreen;
}
#slaytresimler{
    width: 100%;
    height: 500px;
}
#solkenarlik{
   
    float: left;
}
#yaziyeri{
    float: left;
}
#sagkenarlik{

    float: left;
}
#editoryorumu{
    font-size: 20px;
}
#Fotolar{
    width: 100%;
    height: 40%;
}
#yanlık{
    float: left;
}
#altlik{
    width: 100%;
    height: 50px;
}
#kullanici{
    width: 100px;
    height: 20px;
}
#inputum{
    width: 100%;
}
#Deneme{
    background-color: blue;
    color: red;
}
#Deneme1{
    font-size: 16px;
}
