<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Filistin'de Sanat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stilim/stilim.css">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</head>
<body style="background-color: burlywood";>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="https://galeri3.uludagsozluk.com/144/filistin-bayra%C4%9F%C4%B1n%C4%B1n-ger%C3%A7ek-y%C3%BCz%C3%BC_200713_m.png" width="150px" height="80px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="index.html">Anasayfa</a>
                </li>
                <li class="nav-item ">
                     <a class="nav-link" href="Tarihce.html">Tarihçe</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link active" href="Filistin'de Sanat.html" >Filistin'de Sanat</a>
                 </li>
                 <li class="nav-item ">
                    <a class="nav-link" href="Sehirler.html" >Filistin'in Coğrafyası</a>
                 </li>
                 <li class="nav-item ">
                        <a class="nav-link" href="Yerler.html" >Gezilecek Yerler</a>
                     </li>
                     <li class="nav-item ">
                        <a class="nav-link" href="Kudus.html" >Kudüs</a>
                     </li>
                 <li class="nav-item">
                     <a class="nav-link" href="Iletisim.html">İletişim</a>
                 </li>
                 <form action=" https://www.google.com.tr/search" method="GET">
                    <input type="text" name="q" placeholder="Ara" id="Arama">
                    <button>Ara</button>
                </form>
            </ul>
            
        
    </nav>
</div>
<div ng-app="Modul" ng-controller="Kontrol" class="col-sm-2" overflow:hidden; id="solkenarlik" > 
    İsim :<input type="text" ng-model="isim" id="inputum">
    <input type="button" value="tıkla" ng-click="tikla()">
          Filistin'i devlet olarak kabul etmeyen ülkeler :
          <p ng-repeat="uye in uyeler|filter:isim">
              {{uye|uppercase}}
          </p>
</div>       
<script>
      var mod = angular.module('Modul', []);
      mod.controller('Kontrol', function($scope) {
          $scope.isim='';
          $scope.uyeler=[];
          $scope.tikla=function(){
            $scope.uyeler=['Amerika Birleşik Devletleri', 'Kanada', 'Portekiz', 'İtalya', 'Almanya', 'Hollanda', 'Lüksemburg', 'Finlandiya', 'Estonya', 'Letonya',' Moldovya','Ermenistan', 'Litvanya', 'Avusturya', 'İsviçre', 'Birmanya', 'Tayland',' Güney Kore', 'Japonya', 'Tayvan', 'Kamerun', 'Togo', 'Eritre', 'İsrail', 'Batı Sahra', 'Guatemala', 'Kolombiya', 'Haiti', 'Avustralya', 'Yeni Zelenda'];
          }
      });
</script>
<div class="col-sm-8" id="yaziyeri">
<h1>Filistinde Sanat</h1>
<p>Filistin'de onlarca senedir insanlık değil savaş hüküm sürüyor.
    Bansky takma ismini kullanan, gerçek adı bilinmeyen bir sokak sanatçısı Filistin'de ayakta kalan bir iki duvara resim yapıyor."Gerilla artist" olarak anılan sanatçı çalışmalarında savaş karşıtı, çevreci, hayvan haklarını savunan ve tüketim çılgılığını eleştiren mesajlar vermektedir. Banksy istediğinin iyi resimler yapmak olduğunu ve kimliğini açıklamayacağını ifade ediyor. Banksy Birleşik Krallık'taki eserlerinin yanı sıra Filistin'de yaptığı siyasî eserlerle de tanınıyor. Galerimizde sanatçının Filistin'de yaptığı protest çalışmalardan etkileyici örnekleri sizler için bir araya getirdik.<br>
    <div id="demo" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="Resimler/filistindesanat.jpg" alt="0" id="slaytresimler">
                <div class="carousel-caption">
                            Kentte ayakta kalan bir iki duvara çalışmalarını yapan Banksy, internet sitesinde bu fotoğraflarının altına da şu yorumları yazdı.
                </div>
            </div>
              <div class="carousel-item ">
                <img src="Resimler/filistindesanat5.webp" alt="1" id="slaytresimler">
                <div class="carousel-caption">
                                “Gazze çoğu zaman ‘dünyanın en büyük açık hava hapishanesi’ olarak tasvir ediliyor. Çünkü kimsenin şehre girmesine ve şehirden çıkmasına izin verilmiyor. Ancak böyle söylemek, hapishanelere haksızlık. Gazze’de elektrik yok ve içme suları da neredeyse her gün, her an kesilebiliyor.” 
                </div>
              </div>
              <div class="carousel-item">
                <img src="Resimler/filistindesanat3.webp" alt="2" id="slaytresimler">
                <div class="carousel-caption">
                        Banksy, bulduğu tamamı yıkılmış bir evin kapısına da ‘Bomb Damage‘ (Bomba Hasarı) adlı bir çalışma yaparken, eserde Yunan mitolojisinde gururu yüzünden çocuklarını kaybeden Tanrıça Niobe’nin ağlarkenki hali tasvir ediliyor.
                </div>
              </div>
              <div class="carousel-item">
                <img src="Resimler/filistindesanat4.webp" alt="3" id="slaytresimler">
                <div class="carousel-caption">
                        Banksy 2005 yılında de Gazze ve Batı Şeria’ya giderek adının dünyaca ünlenmesini sağlayan birçok eser bırakmıştı. Sokak sanatçısının özellikle 2002’de inşa edilen ayrım duvarına yaptığı çalışmalar tüm dünyanın ilgisini çekmişti.
                </div>
              </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat2.webp" alt="4" id="slaytresimler">
                <div class="carousel-caption">
                        “Orada yaşayan bir adam yanıma gelerek resmin ne anlama geldiğini sordu. Ona Gazze’deki yıkıma dikkat çekmek istediğimi, bu yüzden de bu fotoğrafları internet sitemde paylaşacağımı, çünkü insanların yalnızca kedi yavrularının fotoğraflarına baktığını söyledim.”
                </div>
             </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat6.webp" alt="5" id="slaytresimler">
            </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat7.webp" alt="6" id="slaytresimler">
            </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat8.webp" alt="7" id="slaytresimler">
            </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat9.webp" alt="8" id="slaytresimler">
            </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat10.webp" alt="9" id="slaytresimler">
            </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat11.webp" alt="10" id="slaytresimler">
            </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat12.webp" alt="11"id="slaytresimler">
            </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat13.webp" alt="12" id="slaytresimler">
            </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat14.webp" alt="13" id="slaytresimler">
            </div>
            <div class="carousel-item">
                <img src="Resimler/filistindesanat15.webp" alt="14" id="slaytresimler">
             </div>
             <div class="carousel-item">
                <img src="Resimler/filistindesanat16.webp" alt="15"id="slaytresimler">
            </div>
            </div>
          
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          
          </div>
</p>
</div>
<div id="col-sm-2">

</div >

</body>
</hmtl>